@{
    ViewBag.Title = "Home Page";
}



<section id="quick_links">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 quick_links-cont">
                <div class="row">
                    <div class="col-xs-12 clear-footing">
                        <h3 class="text-adjust">Quick links</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div>
                            <h3>Prices &amp; performance</h3>
                            <p>Excellence in investment expertise</p>
                            <a href="http://www.ashburtoninvestments.com/int/individual-investor/performance/prices-and-performance">
                                Find out more
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div>
                            <h3>Fund fact sheets</h3>
                            <p>Access deeper knowledge</p>
                            <a href="/int/individual-investor/performance/fund-factsheets-performance-summary">
                                Find out more
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div>
                            <h3>Investment range</h3>
                            <p>Broader capabilities and more sources of return</p>
                            <a href="/int/individual-investor/investment-range/investment-range ">
                                Find out more
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 insights-cont">
                <div class="row">
                    <div class="col-xs-12 clear-sides">
                        <h3>Insights</h3>
                        <div class="col-xs-12 move-top">
                            <div id="insights_carousel" class="owl-carousel owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="left: 0px; width: 1315px;">
                                        <div class="owl-item active" style="width: 263px;">
                                            <div class="item">
                                                <a href="http://www.ashburtoninvestments.com/int/individual-investor/news/insights/article/2016/06/24/strategy-update-response-to-brexit">
                                                    <h4>Strategy update: Response to Brexit</h4>
                                                    <span>24 June 2016</span>
                                                    <p>Over the next few days and months, even years, we will undoubtedly be reading of today's simply momentous decision by th...</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 263px;">
                                            <div class="item">
                                                <a href="http://www.ashburtoninvestments.com/int/individual-investor/news/insights/article/2016/06/21/happily-ever-after-rajan-exits-the-reserve-bank-of-india">
                                                    <h4>Happily ever after? Rajan exits the Reserve Bank of India</h4>
                                                    <span>21 June 2016</span>
                                                    <p>He was fast to act, promising reform and a firm focus on fighting inflation. Our view is that he has delivered on both, ...</p>
                                                </a>
                                            </div>
                                        </div>
                                 
                                    </div>
                                </div>
                            </div>
                            <a href="/int/individual-investor//news/insights" class="btn_view-all">View all &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>